@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
// varibale declaration for common border color
$borderColor: #8080801a;
a{
    text-decoration: none;
}
:root{
    font-size: 62.5%;
}
::placeholder{
    color: #80808096;
}
// mixin for input common css
@mixin inputCss {
    display: block;
    width: 100%;
    margin-top: 17px;
    padding: 8px 12px 8px 12px;
    outline: none;
    border: 2px solid $borderColor;
    border-radius: 2px;
}
// mixin for common btn css
@mixin submitsubscribeBtn {
    width: 18%;
    padding: 10px 14px;
    color: #fff;
    background-color: #c32323c9;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
}
// all container main heading css with classname heading
.heading{
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
}
// all container top border css
.heading-line{
    display: inline-block;
    height: 2px;
    background-color: $borderColor;
    margin-left: 7px;
}
// text css
.text{
    font-size: 1.5rem;
    color: #6c6666d9;
    line-height: 19px;
}
.container{
    width: 999px;
    margin: auto;
    padding-top: 30px;
    .contact-container{
        display: flex;
        flex-wrap: wrap;
        .contact-mail{
            width: 67%;
            padding-right: 20px;
            .contact-box{
                margin-bottom: 25px;
                p{
                    margin-top: 17px;
                    a{
                        color: #6c6666d9;
                        font-size: 1.5rem;
                        i{
                            padding: 10px;
                            color: #c32323c9;
                            border: 1px solid $borderColor;
                            border-radius: 50%;
                            font-size: 1.2rem;
                            margin-right: 12px;
                        }
                    }
                }
            }
            .mail-box{
                form{
                    input, textarea{
                        // use here mixin input common css 
                        @include inputCss;     
                    }
                    input#submitBtn{
                        // use here mixin btn common css 
                        @include submitsubscribeBtn;
                    }
                    textarea{
                        height: 85px;
                        padding-top: 14px;
                        font-size: 1.5rem;
                    }
                }
            }
        }
        .social-newsletter{
            width: 33%;
            height: 400px;
            .social-box{
                .social-icon{
                    display: flex;
                    margin: 22px 0 27px 0;
                    // mixin for socail media box common css
                    @mixin commonCss {
                        width: 33.33%;
                        text-align: center;
                        padding: 25px 0px; 
                        color: #fff;
                    } 
                    i{
                       color: #fff;
                       font-size: 2.4rem;
                       margin-bottom: 15px;
                    }
                    .facebook{
                        background-color: #2c417b;
                        // use here mixin commonCss
                        @include commonCss;
                    }
                    .twitter{
                        background-color: #1c9cea;
                        // use here mixin commonCss
                        @include commonCss;
                    }
                    .google{
                       background-color: #d64a37;
                        // use here mixin commonCss
                        @include commonCss;
                    }
                    h4{
                        font-size: 1.3rem;
                        margin-bottom: 4px;
                    }
                }
            }
            .newsletter-box{
                .content{
                    padding: 6px 23px 22px 24px;
                    margin-top: 8px;
                    border: dotted;
                    border-top: none;
                    border-color: $borderColor;
                    input{
                    // use here mixin input common css 
                        @include inputCss;
                    }
                    button#subscibeBtn{
                    // use here mixin btn common css 
                       @include submitsubscribeBtn;
                       width: 50%;
                       margin-top: 17px;
                       text-transform: uppercase;
                    }
                }
            }
        }
    }
}
// heading top border css
.first{
    width: 73%;
}
.second{
    width: 90%;
}
.third{
    width: 67%;
}
.fourth{
    width: 70%;
}
// responsive css
@media (max-width:1028px){
    .container{
        width: 880px;
    }
    .first{
        width: 69%;
    }
    .second{
        width: 88%;
    }
    .third{
        width: 63%;
    }
    .fourth{
        width: 66%;
    }
}
@media (max-width:928px){
    .container{
        width: 800px;
    }
    .first{
        width: 66%;
    }
    .second{
        width: 87%;
    }
    .third{
        width: 59%;
    }
    .fourth{
        width: 62%;
    }
}
@media (max-width:835px){
    .container{
        width: 500px;
    }
    .container .contact-container .contact-mail{
        width: 100%;
        padding-right: 0;
    }
    .container .contact-container .social-newsletter{
        width: 100%;
        margin-top: 25px;
    }
    .first{
        width: 65%;
    }
    .second{
        width: 87%;
    }
    .third{
        width: 78%;
    }
    .fourth{
        width: 80%;
    }
}
@media (max-width:570px){
    .container{
        width: 403px;
    }
    .first{
        width: 56%;
    }
    .second{
        width: 84%;
    }
    .third{
        width: 73%;
    }
    .fourth{
        width: 75%;
    }
}
@media (max-width:470px){
    .container{
        width: 333px;
    }
    .first{
        width: 47%;
    }
    .second{
        width: 80%;
    }
    .third{
        width: 67%;
    }
    .fourth{
        width: 70%;
    }
}
@media (max-width:370px){
    .container{
        width: 280px;
    }
    .first{
        width: 38%;
    }
    .second{
        width: 76%;
    }
    .third{
        width: 61%;
    }
    .fourth{
        width: 64%;
    }
}